body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #222;
}
nav h2{
color: white;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
}
section{
    padding: 60px 40px;
    min-height: 200px;
}
#hero{
    text-align: center;
}
input,
textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}
button{
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #222;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* Default styles for large laptops and computers */
.sidebar {
  float: left;
  width: 30%;
}

/* For tablets and smaller screens (768px wide or less) */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    float: none;
  }
}
